{% extends "layout.html" %} 
{% block body %}
{% if session.logged_in %}
<div class="row">
    {% for card in cards %}
    <div class="col s3">
        <div class="card small hoverable deep-purple darken-2">
            <div class="card-content">
                <span class="card-title white-text">{{ card.title }}<a class="btn-floating waves-effect waves-light teal lighten-2 right"><i class="material-icons activator">edit</i></a></span>
                <br/><div class="divider"></div><br/>
                <p class="white-text">{{ card.content }}</p>
            </div>
            <div class="card-reveal">
                <form method="post" action="{{ url_for('cards') }}">
                    <div class="input-field">
                        <input name="edit_title" type="text" class="validate" value="{{ card.title }}" required>
                    </div>
                    <div class="input-field">
                        <textarea name="edit_content" type="text" class="materialize-textarea" required>{{ card.content }}</textarea>
                    </div>
                    <div class="fixed-action-btn click-to-toggle"><a class="btn-floating btn teal lighten-1"><i class="material-icons">menu</i></a>
                    <ul>
                        <li><button class="btn-floating waves-effect waves-light yellow darken-1" name="card_id_archive" value="{{ card.id }}" type="submit"><i class="material-icons">archive</i></button></li>
                        <li><button class="btn-floating waves-effect waves-light red lighten-1" name="card_id_del" value="{{ card.id }}" type="submit"><i class="material-icons">delete</i></button></li>
                        <li><button class="btn-floating waves-effect waves-light teal lighten-2 right" name="card_id" value="{{ card.id }}" type="submit"><i class="material-icons">check</i></button></li>
                    </ul>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<div class="fixed-action-btn">
    <a class="btn-floating btn-large waves-effect waves-light teal lighten-1 right"  href="{{ url_for('create_card') }}"><i class="material-icons">add</i></a>
</div>
{% endif %}
{% endblock %}