{% extends "layout.html" %} 
{% block body %}
<div class="container">
<div class="row">
    {% if error %}
    <p>{{ error }}</p>{% endif %}
    <form class="col s4 push-s4 center" method="post" action="{{ url_for('register_user') }}">
        <div class="row">
            <div class="input-field">
                <input name="user" type="text" class="white-text validate" required/>
                <label for="user" class="white-text active">Username</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <input name="passwd" type="password" class="white-text validate" required/>
                <label for="passwd" class="white-text">Password</label>
            </div>
        </div>
        <div class="row">
            <div class="col s4 push-s4">
                <button class="btn waves-effect waves-light teal lighten-1" type="submit">Submit</button>
            </div>
        </div>
    </form>
</div>
</div>
{% endblock %}