{% extends "layout.html" %} 
{% block body %}
<div class="container">
<div class="row">
    <ul class="collapsible popout" data-collapsible="expendable">
        <li class="change-form">
            <div class="collapsible-header">Change password</div>
            <div class="collapsible-body center">
                <form method="POST" action="{{ url_for('change_user', username=username, id='password') }}">
                    <div class="row">
                        <div class="input-field">
                            <input name="oldpw" type="password" class="validate" required/>
                            <label for="oldpw" class="active">Old password</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field">
                            <input name="newpw" type="password" class="validate" required/>
                            <label for="newpw" class="active">New password</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field">
                            <input name="repeatpw" type="password" class="validate" required/>
                            <label for="repeatpw" class="active">Repeat new password</label>
                        </div>
                    </div>
                    {% if error %}
                    <div class="row">
                        <div class="col s12 card-panel orange accent-3 flash-panel">
                            <span class="white-text">
                                <b>An error occured during the verification of your password change!</b>
                                <br/>{{ error }}</span>
                        </div>
                    </div>
                    {% endif %}
                    <div class="row">
                        <div>
                            <button class="btn waves-effect waves-light teal lighten-1" type="submit">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </li>
        <li class="change-form">
            <div class="collapsible-header">Change username</div>
            <div class="collapsible-body center">
                <form method="POST" action="{{ url_for('change_user', username=username, id='username') }}">
                    <div class="row">
                        <div class="input-field">
                            <input name="newuser" type="text" class="validate" required/>
                            <label for="newuser" class="active">New username (unique)</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field">
                            <input name="repeatuser" type="text" class="validate" required/>
                            <label for="repeatuser" class="active">Repeat new username</label>
                        </div>
                    </div>
                    {% if error %}
                    <div class="row">
                        <div class="col s12 card-panel orange accent-3 flash-panel">
                            <span class="white-text">
                                <b>An error occured during the verification of your username change!</b>
                                <br/>{{ error }}</span>
                        </div>
                    </div>
                    {% endif %}
                    <div class="row">
                        <div>
                            <button class="btn waves-effect waves-light teal lighten-1" type="submit">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </li>
    </ul>
</div>
</div>
{% endblock %}