body {
  background: url(../img/city.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.flash-panel {
  padding-top: 1em !important;
  padding-bottom: 1em !important;
}

